body {
  font-size: 85%;
}

input[type='file'] {
  width: 200px;
}

/* the div containing the tubemap svg */
#tubeMapSVG {
  position: relative;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  overflow: hidden;
}

#svg {
  width: 100%;
  height: 75vh;
  overflow: visible;
}

/* contains the spinning loader */
#loaderContainer {
  margin: 0 auto;
  padding: 40px;
}

/* spinning loader during graph construction */
#loader {
  border: 5px solid #f3f3f3;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
